:root {
  /* ### Primary

  --Very Dark Magenta: hsl(300, 43%, 22%)
  --Soft Pink: hsl(333, 80%, 67%)

    ### Neutral

  Dark Grayish Magenta: hsl(303, 10%, 53%)
  Light Grayish Magenta: hsl(300, 24%, 96%)
  White: hsl(0, 0%, 100%) */
  --color-text-title-h1: hsl(300, 43%, 22%);
  --color-text-desc-p: hsla(300, 43%, 22%, 0.65);
  --color-bg-card-review: hsl(300, 24%, 96%);
  --color-text-desc-review: hsl(300, 43%, 22%);
  --color-bg-card-testimonials: hsl(300, 43%, 22%);
  --color-text-name-user: hsl(0, 0%, 100%);
  --color-text-info-varification: hsla(333, 80%, 67%, 0.65);
  --color-text-comment: hsl(0, 0%, 90%);
}
