@import url(/root.css);

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
}

@media screen and (min-width: 360px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: 4.8rem 1.5rem;
  }
  .section-1 {
    display: flex;
    flex-direction: column;
  }
  .text-intro {
    text-align: center;
  }
  .title {
    font-size: 36px;
    line-height: 2rem;
    color: var(--color-text-title-h1);
  }
  .desc {
    font-size: 17px;
    color: var(--color-text-desc-p);
    margin-top: 1.5rem;
    line-height: 1.55rem;
  }

  .review {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
    row-gap: 1rem;
  }
  .info-review {
    background-color: var(--color-bg-card-review);
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.75rem;
    padding: 1rem;
    width: 327px;
    height: 80px;
    border-radius: 0.5rem;
  }
  .img-review {
    display: flex;
    column-gap: 0.5rem;
  }
  .img-stars {
    width: 17px;
    height: 16px;
  }
  .desc-review {
    font-size: 15.5px;
    font-weight: 700;
    color: var(--color-text-desc-review);
  }
  .section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    margin-top: 3rem;
  }
  .card-testimonials {
    background-color: var(--color-bg-card-testimonials);
    padding: 2.5rem 2rem;
    width: 327px;
    height: 266px;
    border-radius: 0.5rem;
  }
  .user {
    display: flex;
    align-items: center;
  }
  .img-user {
    width: 42px;
    height: 42px;
    border-radius: 5rem;
  }
  .info-user {
    margin-left: 1.3rem;
  }
  .name-user {
    color: var(--color-text-name-user);
  }
  .verification {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-text-info-varification);
  }
  .comment {
    font-size: 15.3px;
    font-weight: 300;
    line-height: 1.5rem;
    margin-top: 1.5rem;
    color: var(--color-text-comment);
  }
}
@media screen and (min-width: 1440px) {
  .container {
    display: flex;
    flex-direction: column;
    margin: 8rem 10.3rem;
  }
  .section-1 {
    display: flex;
    flex-direction: row;
  }
  .text-intro {
    text-align: start;
    width: 52%;
  }
  .title {
    font-size: 54px;
    line-height: 3rem;
    width: 70%;
  }
  .desc {
    margin-top: 1.2rem;
    width: 80%;
  }
  .review {
    margin-top: 1rem;
  }
  .info-review {
    display: flex;
    flex-direction: row;
    column-gap: 1.8rem;
    padding: 1.8rem 2rem;
    width: 448px;
    height: 57.59px;
    border-radius: 0.5rem;
  }
  .img-stars {
    width: 17px;
    height: 16px;
  }
  .inf-r-2 {
    margin-right: -6.3rem;
  }
  .inf-r-3 {
    margin-right: -12.3rem;
  }
  .section-2 {
    display: flex;
    flex-direction: row;
    column-gap: 1.8rem;
    margin-top: 5rem;
  }
  .card-testimonials {
    width: 345px;
    height: 240px;
    border-radius: 0.5rem;
  }
  .card-2 {
    margin-top: 2rem;
  }
  .card-3 {
    margin-top: 4rem;
  }
}
